

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Course Admin', dewey.course_admin_index_path
				%li
					= link_to @course_content.course.title, dewey.course_admin_path( @course_content.course )
				%li
					%strong
						New Content
		.col-xs-2

	= form_for @course_content, url: main_app.course_content_admin_index_path() do |f|
		= f.hidden_field :course_id

		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control'

				.form-group
					= f.label :seq, "Sequence"
					= f.number_field :seq, class: 'form-control', step: 1

				.form-group
					= f.label :release_offset_humanize, "Release (offset from course start)"
					= f.text_field :release_offset_humanize, class: 'form-control', placeholder: 'unlimited'

				.form-group
					= f.label :status
					= f.collection_select :status, Dewey::Course.statuses, :first, :first, {}, class: 'form-control'

				.form-group
					= f.submit 'Create', class: 'btn btn-primary'
