.nutrition-facts
	.nf-title Nutrition Facts
	- if food.serves.present?
		.nf-servings Servings: #{food.serves}
	- elsif food.serving_size.present?
		.nf-servings Servings Size: #{food.serving_size}
	.nf-nutrient-header Amount per serving

	- if food.food_nutrients.present?
		- food.food_nutrients.each do |food_nutrient|
			.nf-nutrient{ class: "nf-nutrient-type-#{food_nutrient.nutrient.slug} #{food_nutrient.nutrient.parent.present? ? ' nf-nutrient-child' : ''}" }
				.nf-nutrient-title=food_nutrient.nutrient.fact_name

				- if food_nutrient.amount_per_serving
					.nf-nutrient-weight
						#{food_nutrient.amount_per_serving}#{food_nutrient.nutrient.unit}
				- else
					.nf-nutrient-amount
						#{food_nutrient.amount.to_i} #{food_nutrient.unit}
				- unless args[:size] == :small
					.nf-nutrient-dv
						- if (value = food_nutrient.daily_recommended_percent).present?
							#{(value * 100).round()}%
						- else
							&nbsp;
				- if (value = food_nutrient.daily_recommended_keto_percent).present?
					.nf-nutrient-dkv
						#{(value * 100).round()}%
			- if food_nutrient.nutrient.slug == 'calories'
				.nf-columns
					.nf-nutrient-dkv % DKV **
					- unless args[:size] == :small
						.nf-nutrient-dv % DV *
	- else
		No Nutrition Facts
	- unless args[:size] == :small
		.nf-citation
			* The % Daily Value (DV) tells you how much a nutrient in a food serving contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.
	.nf-citation
		** The % Daily Keto Value (DKV) tells you how much of a nutrient in a food serving contributes to a daily keto diet. 2,000 calories a day is used for general nutrition advice.
