%section
	.container
		.row
			.col-12
				%h1.h2
					=@title
					%small Keto Nutrition Facts
					-# %br
					-# \- Keto Nutrition Facts -
				%nav
					%ol.breadcrumb
						%li.breadcrumb-item
							%a{ href: '/' }> Home
						%li.breadcrumb-item
							%a{ href: main_app.foods_path( q: params[:q] ) }> Keto Nutrition Facts
						%li.breadcrumb-item.active
							%a{ href: main_app.food_path( @food, q: params[:q] ) }=@food.title.truncate(40)
%section.mt-5.mb-4
	.container
		.row
			- if @food.content.present?
				.col-12.col-md-8.mb-5
					.fr-view= raw @food.content

				.col-12.col-md-4
					= render 'foods/keto_measure_facts', food: @food, food_measure: @food_measure, args: {}
					.mt-5
						= render 'foods/measure_facts', food: @food, food_measure: @food_measure, args: {}
			- else
				.col-12.col-md-4.offset-md-2
					= render 'foods/keto_measure_facts', food: @food, food_measure: @food_measure, args: {}
				.col-12.col-md-4
					= render 'foods/measure_facts', food: @food, food_measure: @food_measure, args: {}
			.col-12.col-md-10.offset-md-1.mt-5.mb-5
				= render 'application/social', object: @food, args: { page: params[:page], disable_subscribe: true, disable_vote: true }
