- selector_class = "post_#{post.class.base_class.name.underscore.gsub(/\//,'__')}_#{post.id}"
- selector = ".post.#{selector_class}"
.media.comment.post.mb-3[post]{ class: selector_class }
	%img.mr-3{ src: post.user.avatar, style: 'width: 64px;' }
	.media-body
		- if post.user.respond_to? :url
			%h6
				%a{ href: post.user.url }
					= post.user
				%small
					= time_ago_in_words( post.created_at )
					ago
		- else
			%h6.mb-0.pb-0
				= post.user
				%small
					= time_ago_in_words( post.created_at )
					ago
		.media-text
			- if post.content
				.fr-view= raw post.sanitized_content
		- unless args[:disable_votes]
			.media-actions.mt-2
				= render 'scuttlebutt/votes/widget', parent_obj: post, args: { async: args[:async] }
				|
				%span.dropdown.dropdown-caretless
					%a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, role: :button, 'aria-haspopup'=>"true", 'aria-expanded'=>"false" }
						%i.fa.fa-ellipsis-h
					.dropdown-menu
						- if current_user == post.user # && args[:async]
							%a.dropdown-item{ href: scuttlebutt.edit_post_path( post ) } edit
							%a.dropdown-item{ href: scuttlebutt.post_path( post ), data: { confirm: 'Are you sure you want to delete this?', method: :delete } } delete
						%a.dropdown-item{ href: scuttlebutt.report_post_path( post, selector: selector ), data: { confirm: 'Are you sure you want to report this?', method: :put, remote: true } } report
