-# if @media.cover_attachment.attached?
	%img.pb-3{ src: @media.cover_attachment.service_url }
.container
	.row
		.col-12
			%nav{ 'aria-label' => 'breadcrumb' }
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: dewey.enrollments_path() } My Courses
					%li.breadcrumb-item{ 'aria-current' => 'page' }
						%a{ href: dewey.enrollment_path( @enrollment ) }= @media.course.title
					%li.breadcrumb-item.active{ 'aria-current' => 'page' }=@media.title

			.row
				.col-md-4.col-lg-3.d-none.d-md-block
					= render 'dewey/enrollments/sidebar', course: @course, enrollment: @enrollment, args: { page: @media }
				.col-md-8.col-lg-9
					.text-right
						- if @previous_course_pages.first
							%a.btn.btn-md.btn-primary{ href: dewey.enrollment_course_page_path( @previous_course_pages.first.id, enrollment_id: @enrollment.id ) } Previous
						- else
							%a.btn.btn-md.btn-primary{ href: dewey.enrollment_path( @enrollment ) } Previous
						- if @next_course_pages.first
							%a.btn.btn-md.btn-primary{ href: dewey.enrollment_course_page_path( @next_course_pages.first.id, enrollment_id: @enrollment.id ) } Next
						- else
							%a.btn.btn-md.btn-primary{ href: dewey.enrollment_path( @enrollment ) } Done

					%h1= @media.title
					.fr-view.mtb-30
						= raw @media.content
					- @media.content_sections.each do |section|
						= render_section( section )
