- if @media.cover_image.present?
	/ Intro Section
	%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1.pb-4{"data-background-img" => @media.cover_image }
		.container
			.row.title
				%h2.h2=@media.title
				.page-breadcrumb
					%a{ href: dewey.enrollments_path() }> My Courses
					\/
					%a{ href: dewey.enrollment_path( @enrollment ) }>= @media.course.title
					\/
					%span>=@media.title
	/ End Intro Section
- else
	/ Intro Section
	-# %section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1.pb-4
		.container
			.row.title
				%h2.h2=@media.title
				.page-breadcrumb
					%a{ href: dewey.enrollments_path() }> My Courses
					\/
					%a{ href: dewey.enrollment_path( @enrollment ) }>= @media.course.title
					\/
					%span>=@media.title
	.container
		.row
			.col-12
				%h1= @media.title
				%nav{ 'aria-label' => 'breadcrumb' }
					%ol.breadcrumb
						%li.breadcrumb-item
							%a{ href: dewey.enrollments_path() } My Courses
						%li.breadcrumb-item{ 'aria-current' => 'page' }
							%a{ href: dewey.enrollment_path( @enrollment ) }= @media.course.title
						%li.breadcrumb-item.active{ 'aria-current' => 'page' }=@media.title

.container.pb-2
	.row
		.col-12
			.row
				.col-md-4.col-lg-3.d-none.d-md-block
					.sticky-top{ style: 'top: 100px;' }
						= render 'dewey/enrollments/sidebar', course: @course, enrollment: @enrollment, args: { page: @media }
				.col-md-8.col-lg-9
					.fr-view.mtb-30
						= raw @media.content
					- @media.content_sections.each do |section|
						= render_section( section )
					.mb-4
						= render 'control_bar', args: {}
					- if defined?( Scuttlebutt )
						= render 'scuttlebutt/comments/widget', parent_obj: @media, args: { page: params[:page] }
