#head-nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#head-nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.navbar-brand
				Admin
		.navbar-collapse.collapse#head-nav-collapse
			%ul.nav.navbar-nav.navbar-left
				- if defined?( Pulitzer ) && ( authorized?( Pulitzer::Article, controller: Pulitzer::ArticleAdminController, action: :index ) || authorized?( Pulitzer::Page, controller: Pulitzer::PageAdminController, action: :index ) )
					%li.dropdown
						%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
							Website
							%b.caret
						%ul.dropdown-menu
							- if authorized?( Pulitzer::Article, controller: Pulitzer::ArticleAdminController, action: :index )
								%li.dropdown.dropdown-submenu
									%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
										Blog
									%ul.dropdown-menu
										%li
											%a{ href: pulitzer.article_admin_index_path }
												%i.fa.fa-gear
												Admin
										- if authorized?( Pulitzer::Article, controller: Pulitzer::ArticleAdminController, action: :create )
											%li
												%a{ href: '#new_article', data: { toggle: :modal, target: '#new_article' } }
													%i.fa.fa-plus
													New
										%li.separator
										- Pulitzer::Article.draft.order( publish_at: :desc ).limit( 10 ).each do |article|
											%li
												%a{ href: pulitzer.edit_article_admin_path( article ) }
													= article.title

							%li.dropdown.dropdown-submenu
								%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
									Inspirations
								%ul.dropdown-menu
									%li
										%a{ href: main_app.inspiration_admin_index_path }
											%i.fa.fa-gear
											Admin
									- if authorized?( Inspiration, controller: InspirationAdminController, action: :create )
										%li
											%a{ href: '#new_inspiration', data: { toggle: :modal, target: '#new_inspiration' } }
												%i.fa.fa-plus
												New
									%li.separator
									- Inspiration.draft.order( publish_at: :desc ).limit( 10 ).each do |inspiration|
										%li
											%a{ href: main_app.edit_inspiration_admin_path( inspiration ) }
												= inspiration.title


							- if authorized?( Pulitzer::Page, controller: Pulitzer::PageAdminController, action: :index )
								%li.dropdown.dropdown-submenu
									%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
										Pages
									%ul.dropdown-menu
										%li
											%a{ href: pulitzer.page_admin_index_path }
												%i.fa.fa-gear
												Admin
										- if authorized?( Pulitzer::Page, controller: Pulitzer::PageAdminController, action: :create )
											%li
												%a{ href: '#new_page', data: { toggle: :modal, target: '#new_page' } }
													%i.fa.fa-plus
													New
										%li.separator
										- Pulitzer::Page.order( publish_at: :desc ).limit( 10 ).each do |page|
											%li
												%a{ href: pulitzer.edit_page_admin_path( page ) }
													= page.title

							%li.dropdown.dropdown-submenu
								%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
									Recipes
								%ul.dropdown-menu
									%li
										%a{ href: main_app.recipe_admin_index_path }
											%i.fa.fa-gear
											Admin
									- if authorized?( Recipe, controller: RecipeAdminController, action: :create )
										%li
											%a{ href: '#new_recipe', data: { toggle: :modal, target: '#new_recipe' } }
												%i.fa.fa-plus
												New
									%li.separator
									- Recipe.draft.order( publish_at: :desc ).limit( 10 ).each do |recipe|
										%li
											%a{ href: main_app.edit_recipe_admin_path( recipe ) }
												= recipe.title

				%li.dropdown
					%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
						Store
						%b.caret
					%ul.dropdown-menu
						%li
							%a{ href: bazaar.cart_admin_index_path }
								Carts
						%li
							%a{ href: bazaar.discount_admin_index_path }
								Discounts
						%li
							%a{ href: bazaar.subscription_plan_admin_index_path }
								Plans
						%li
							%a{ href: bazaar.product_admin_index_path }
								Products
						%li
							%a{ href: main_app.bazaar_media_admin_index_path() }
								Purchase Pages

				%li.dropdown{ class: ( controller_name == 'order_admin' ? 'active' : '' ) }
					%a{ href: bazaar.order_admin_index_path }
						Orders
						- if ( order_count = Bazaar::CheckoutOrder.active.unfulfilled.count ) > 0
							.badge{ style: 'margin-left: 0.5em;' }=order_count

				- if defined?( SwellId ) && authorized?( User, controller: SwellId::UserAdminController, action: :index )
					%li.dropdown
						%a.dropdown-toggle{ href: swell_id.user_admin_index_path() }
							Users
							%span.badge #{User.active.count}

				- if defined?( Scuttlebutt ) && authorized?( User, controller: Scuttlebutt::PostAdminController, action: :index )
					%li.dropdown
						%a.dropdown-toggle{ href: scuttlebutt.post_admin_index_path() }
							Posts
							%span.badge #{Scuttlebutt::Post.where.not( user: User.admin ).active.count}
				- if defined?( Scuttlebutt )
					%li.dropdown
						%a.disabled.dropdown-toggle{ disabled: true }
							Votes
							%span.badge #{Scuttlebutt::Vote.where.not( user: User.admin ).count}

			%ul.nav.navbar-nav.navbar-right.user-nav
				%li.dropdown.profile-menu
					%a.dropdown-toggle{ href: '#', data: { toggle: :dropdown} }
						= current_user.avatar_tag( width: 24 )
						%span
							= current_user
						%b.caret
					%ul.dropdown-menu

						%li
							%a{ href: '/logout' }
								Logout
			%ul.nav.navbar-nav.not-nav
