- cache( @recipe, expires_in: 1.hour ) do
	/ CONTENT -------------------------------------------------------------------------------
	/ Intro Section
	- if @media.cover_image.present?
		/ Intro Section
		%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1{"data-background-img" => @media.cover_image }
			.container
				.row.title
					%h2.h2=@recipe.title
					.page-breadcrumb
						%a{ href: '/' }> Home
						\/
						%a{ href: main_app.recipes_path() }> Recipes
						\/
						%span Recipe
		/ End Intro Section
	- else
		/ Intro Section
		%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1
			.container
				.row.title
					%h2.h2=@recipe.title
					.page-breadcrumb
						%a{ href: '/' }> Home
						\/
						%a{ href: main_app.recipes_path() }> Recipes
						\/
						%span Recipe
		/ End Intro Section
	/ Blog Post Section
	%section.ptb.ptb-sm-80
		.container
			.row
				/ Post Bar
				.col-lg-9.col-md-9.blog-post-hr
					.blog-post.mb-30
						.post-meta
							-# if @recipe.user.present?
								%span
									by
									= succeed "," do
										- if @media.user.respond_to? :url
											%a{ href: @media.user.url }=@media.user.full_name
										- else
											=@media.user.full_name
							%span=@recipe.publish_at.strftime('%B %e, %Y')
						-# .post-header
							%h2=@recipe.title
						-# .post-media
							%img{:alt => "", :src => @recipe.avatar}/
						.post-entry.fr-view
							= raw @recipe.content
						.post-tag.pull-left
							- @recipe.tags.each do |tag|
								%span
									%a{ href: pulitzer.articles_path( tagged: tag ) }>=tag
									- unless tag == @recipe.tags.last
										,
					= render 'scuttlebutt/comments/widget', parent_obj: @media, args: { page: params[:page] }
				/ End Post Bar
				= render 'pulitzer/articles/side_bar'
/ End Blog Post Section
= render 'pulitzer/articles/next_prev_bar'
/ End CONTENT ----------------------------------------------------------------------------
