- if @course.cover_attachment.attached?
	%img.pb-3{ src: @course.cover_attachment.service_url }
.container
	.row
		.col-12
			%nav{ 'aria-label' => 'breadcrumb' }
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: dewey.enrollments_path() } My Courses
					%li.breadcrumb-item.active{ 'aria-current' => 'page' }= @course.title

			.row
				.col-md-8.col-lg-9
					%h1= @course.title
					- if @course.introduction.present?
						.fr-view.mtb-30
							%h3 Introduction
							= raw @course.introduction
						%hr
					.fr-view.mtb-30
						= raw @course.content
				.col-md-4.col-lg-3
					= render 'sidebar', course: @course, enrollment: @enrollment, args: {}
