.container
	.row
		.col-12
			%nav{ 'aria-label' => 'breadcrumb' }
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: courses_path() } Courses
					%li.breadcrumb-item
						%a{ href: @course.url }= @course.title
					%li.breadcrumb-item.active{ 'aria-current' => 'page' } Enrollment

			%h1
				Enrollment
				%small= @course.title
			- if @course_cohort.blank?
				%h2 Not available
			- elsif current_user.present?
				= form_for @enrollment, html: { class: 'form' } do |f|
					= f.hidden_field :course_cohort_id
					= f.submit 'Enroll', class: 'btn btn-md btn-dark'
			- else
				%h2 Login to continue
