.container
	.row
		.col-12
			%nav{ 'aria-label' => 'breadcrumb' }
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: enrollments_path() } My Courses
					%li.breadcrumb-item.active{ 'aria-current' => 'page' }= @course.title

			%h1= @course.title
			%h2 Syllabus
			.fr-view.mtb-30
				= raw @course.syllabus
			.mt-5
				- @course.course_contents.order( seq: :asc ).each do |course_content|
					- if ( enrollment_course_content = @enrollment.enrollment_course_contents.where( course_content: course_content ).first ).present?
						.row
							.col
								%a{ href: main_app.enrollment_course_content_path(enrollment_course_content) }= enrollment_course_content.course_content.title
							.col
								- if enrollment_course_content.completed_at.present?
									Complete
								- elsif enrollment_course_content.started_at.present?
									Started
								- else
									New
							.col.text-right
								%a{ href: main_app.enrollment_course_content_path(enrollment_course_content) }
									- if enrollment_course_content.completed_at.present?
										View
									- elsif enrollment_course_content.started_at.present?
										Resume
									- else
										Start
					- else
						.row
							.col
								= course_content.title
							- if course_content_released?( @enrollment, course_content )
								.col
									Available
								.col.text-right
									%a{ href: enrollment_course_contents_path( enrollment_course_content: { enrollment_id: @enrollment.id, course_content_id: course_content.id } ), data: { method: :post } }
										Start
							- else
								.col
									Not Available
									- if @course.time_released_course_content?
										for #{ time_ago_in_words @enrollment.started_at + course_content.release_offset_interval }
								.col.text-right
									\-
