- cache "#{food.cache_key}-#{food.updated_at.to_i}-#{args.to_json}" do
	.nutrition-facts
		.nf-title Nutrition Facts
		- if food.serves.present?
			.nf-servings Servings: #{food.serves}
		- elsif food.serving_size.present?
			.nf-servings Servings Size: #{food.serving_size}
		.nf-nutrient-header Amount per serving

		- if ( food_nutrients = food.food_nutrients.joins(:nutrient).merge(Nutrient.where( fact_name: 'Calories' )) ).present?
			- food_nutrients.limit(1).each do |food_nutrient|
				= render 'fact_row', food_nutrient: food_nutrient, args: args

		- if ( food_nutrients = food.food_nutrients.joins(:nutrient).merge(Nutrient.macros) ).present?
			- food_nutrients.to_a.sort_by{|food_nutrient| ['Total Fat','Cholesterol','Total Carbohydrate','Potassium, K','Sodium, Na','Protein'].index(food_nutrient.nutrient.fact_name) || Float::INFINITY }.each do |food_nutrient|
				= render 'fact_row', food_nutrient: food_nutrient, args: args
				- if ( children = food.food_nutrients.joins(:nutrient).merge(food_nutrient.nutrient.children) ).present?
					- children.each do |child|
						= render 'fact_row', food_nutrient: child, args: args.merge({ classes: 'nf-nutrient-child' })
		- else
			No Nutrition Facts
		- unless args[:size] == :small
			.nf-citation
				* The % Daily Value (DV) tells you how much a nutrient in a food serving contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.
		.nf-citation
			** The % Daily Keto Value (DKV) tells you how much of a nutrient in a food serving contributes to a daily keto diet. 2,000 calories a day is used for general nutrition advice.
