

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Course Admin', dewey.course_admin_index_path
				%li
					= link_to @course_content.course.title, dewey.course_admin_path( @course_content.course )
				%li
					%strong
						Edit
						= @course_content.title
		.col-xs-2

	= form_for @course_content, url: main_app.course_content_admin_path( @course_content.id ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control input-lg'

				.row
					.col-xs-4

						.form-group
							= f.label :avatar_attachment, "Avatar Image"
							= f.file_field :avatar_attachment
							- if @course_content.avatar
								= image_tag @course_content.avatar, class: 'img-responsive'
								%a.btn.btn-default{ 'data-clipboard-text' => @course_content.avatar }
									%i.fa.fa-clipboard

					.col-xs-4

						.form-group
							= f.label :cover_attachment, "Cover Image"
							= f.file_field :cover_attachment
							- if @course_content.cover_attachment.attached?
								= image_tag @course_content.cover_attachment.service_url, class: 'img-responsive'
								%a.btn.btn-default{ 'data-clipboard-text' => @course_content.cover_attachment.service_url }
									%i.fa.fa-clipboard

				.form-group
					= f.label :description, 'Summary'
					= f.text_area :description, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: false, toolbar_preset: 'admin_default', object_class: @course_content.class.base_class.name, object_id: @course_content.id }.to_json }

				.form-group
					= f.label :overview
					= f.text_area :overview, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @course_content.class.base_class.name, object_id: @course_content.id }.to_json }

				.form-group
					= f.label :content
					= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 200, toolbar_sticky: true, toolbar_preset: 'admin_default', object_class: @course_content.class.base_class.name, object_id: @course_content.id }.to_json }

			.col-xs-4
				.well
					.form-group
						= f.label :seq, "Sequence"
						= f.number_field :seq, class: 'form-control', step: 1

					.form-group
						= f.label :duration_humanize, "Duration"
						= f.text_field :duration_humanize, class: 'form-control', placeholder: 'unlimited'

					.form-group
						= f.label :release_offset_humanize, "Release (offset from course start)"
						= f.text_field :release_offset_humanize, class: 'form-control', placeholder: 'unlimited'


					.form-group
						= f.label :status
						= f.collection_select :status, Dewey::Course.statuses, :first, :first, {}, class: 'form-control'

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'
