- if @course.cover_attachment.attached?
	%img.pb-3{ src: @course.cover_attachment.service_url }
.container
	.row
		.col-12
			%nav{ 'aria-label' => 'breadcrumb' }
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: dewey.courses_path() } Courses
					%li.breadcrumb-item.active{ 'aria-current' => 'page' }= @course.title

			%h1= @course.title
			.fr-view.mtb-30
				= raw @course.description
			.mb-5
				- if not( @course_cohorts.present? )
					%strong Currently Not Enrolling
				- else
					- @course_cohorts.each do |course_cohort|
						= render 'dewey/enrollments/enroll_button', course_cohort: course_cohort, args: {}
			.mb-5
				- Dewey::CoursePage.each_with_level(@course.course_page.descendants.active.where( "pulitzer_media.publish_at <= :now", now: Time.zone.now )) do |page, level|
					%div{ style: "margin-left: #{level-1}em" }
						%h5= page.title

			.addthis_inline_share_toolbox.share-5.mb-5
			- if defined?( Scuttlebutt )
				= render 'scuttlebutt/comments/widget', parent_obj: @course, args: { page: params[:page] }
