%header#header.header
	.container
		/ Logo
		.logo
			%a{:href => '/'}
				%img.logo-light{:alt => Pulitzer.app_name, :src => image_path("ketoself-white.png")}/
				%img.logo-dark{:alt => Pulitzer.app_name, :src => image_path("ketoself-black.png")}/
		/ End Logo
		/ Rightside Menu (Search, Cart, Bart icon)
		.side-menu-btn
			%ul
				/ Sidebar Menu Icon
				%li
					%a#menu-sidebar-list-icon.nav-bar-icon
						%span
				/ End Sidebar Menu Icon
		/ End Rightside Menu
		/ Navbar Navigation
		.nav-menu.singlepage-nav{:style => "max-height: 308px;"}
			%ul.nav-menu-inner
				%li
					%a{:href => "#intro"} Home
				%li
					%a{:href => "#about"} About
				%li
					%a{:href => "#blog"} Blog
				%li
					%a{:href => "#recipes"} Recipes
				%li
					%a{:href => "#contact-us"} Contact
		/ End Navbar Navigation

= render 'application/flash', args: {}
/ Intro
%section#intro.intro
	/ Static Intro
	.bg-image.overlay-dark.dark-bg.bg-fixed{"data-background-img" => 'https://hips.hearstapps.com/del.h-cdn.co/assets/17/17/1493142485-delish-avocado-bacon-bombs-03.jpg'}
		.js-fullscreen-height.container
			.intro-content
				.intro-content-inner
					%h5 A KETO COMMUNITY
					%h2.h2 #{Pulitzer.app_name}
					.row
						%p.lead.col-md-6.offset-md-3
							Breaking down barriers and sharing insights
							%br
							about the ketogenic diet.
					%br/
					%div
						-# %a.btn.btn-md.btn-white-line.xs-hidden{} Read More
						-# %span.btn-space-10.xs-hidden
						%a.btn.btn-md.btn-white{ href: '#about' } Learn More
	/ End Static Intro
/ End Intro
.clearfix
/ About Section
%section#about.wow.fadeIn.ptb.ptb-sm-80.animated
	.container.mb-60
		.row.text-center
			.col-md-6.wow.slideInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "1s"}
				%img{:alt => "mockup", :src => 'https://www.cleaneatingmag.com/.image/t_share/MTUzMDAwOTc2NjU4MjEyNDcy/keto-lead-76-web.jpg', :style => "max-width: 457px; width: 100%;"}/
			.col-md-6.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
				.spacer-15
				%h6.page-title-alt.color.mb-10 #{Pulitzer.app_name}
				%h2.page-title.mb-25
					What Is a Ketogenic Diet?
				%p.mb-35
					The ketogenic diet is a very low-carb, high-fat diet that shares many similarities with the Atkins and low-carb diets.
				%p.mb-35
					It involves drastically reducing carbohydrate intake and replacing it with fat. This reduction in carbs puts your body into a metabolic state called ketosis.
				%p.mb-35
					When this happens, your body becomes incredibly efficient at burning fat for energy. It also turns fat into ketones in the liver, which can supply energy for the brain (6, 7).
				%p.mb-35
					Ketogenic diets can cause massive reductions in blood sugar and insulin levels. This, along with the increased ketones, has numerous health benefits (6, 8, 9, 10, 11).

/ End About Section
/ About Section 2
%section#about2.wow.fadeIn.ptb.ptb-sm-80.animated.text-center.gray-bg
	.container
		.row
			.col-md-4.col-sm-6.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
				.icon-top.icon-black
					%i.icon.icon-basic-anchor
				%h5.features-title We’re Creative
				%p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
			.col-md-4.col-sm-6.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
				.icon-top.icon-black
					%i.icon.icon-basic-alarm
				%h5.features-title TWe have magic
				%p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
			.col-md-4.col-sm-6.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
				.icon-top.icon-black
					%i.icon.icon-basic-globe
				%h5.features-title Why we do it
				%p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
/ End About Section 2


%section#recipes.wow.fadeIn.ptb.ptb-sm-80.animated
	.container
		%h3.float-left.float-none-xs Latest Recipes
		%a.btn-link-a.float-right.float-none-xs{ href: main_app.recipes_path() } View All
		.clearfix
		.spacer-60
		.row

			- @recipes.each_with_index do |recipe, index|
				.col-lg-4.col-md-6.col-sm-6.mb-sm-30
					- unless index == 0
						%hr
					= render 'recipes/recipe_post', recipe: recipe, args: { mode: :thumb }




%section#social.gray-bg.ptb.ptb-sm-80
	.container.text-center
		.row
			.col-md-8.offset-md-2
				%h3 Get Connect With Us
		.spacer-60
		.row
			.col-md-8.offset-md-2
				.row
					.col-md-3.col-sm-4.col-6
						.page-icon-top
							%i.ion.ion-social-twitter
						%h6
							%a.link{:href => "https://www.twitter.com/", :target => "_blank"} Twitter
					.col-md-3.col-sm-4.col-6
						.page-icon-top
							%i.ion.ion-social-facebook
						%h6
							%a.link{:href => "https://www.facebook.com/", :target => "_blank"} Facebook
					.col-md-3.col-sm-4.col-6
						.page-icon-top
							%i.ion.ion-social-googleplus
						%h6
							%a.link{:href => "https://plus.google.com/", :target => "_blank"} Google plus
					.col-md-3.col-sm-4.col-6
						.page-icon-top
							%i.fab.fa-linkedin
						%h6
							%a.link{:href => "https://www.linkedin.com/", :target => "_blank"} Linkedin



%section#blog.wow.fadeIn.ptb.ptb-sm-80.animated
	.container
		%h3.float-left.float-none-xs Latest Blog
		%a.btn-link-a.float-right.float-none-xs{ href: pulitzer.articles_path() } View All
		.clearfix
		.spacer-60
		.row

			- @articles.each_with_index do |article, index|
				.col-lg-4.col-md-6.col-sm-6.mb-sm-30
					- unless index == 0
						%hr
					= render 'pulitzer/articles/blog_post', media: article, args: { mode: :thumb }



/ Contact Form
%section#contact-us.wow.fadeIn.ptb.ptb-sm-80.animated.dark-bg.bg-image.overlay-dark60{"data-background-img" => image_path("app_theme/theme/onepage/img/full/20.jpg"), "data-stellar-background-ratio" => "0.5"}
	.container
		.row.text-center
			.col-12
				%h6.page-title-alt.color.mb-15 Wanna say hello?
				%h2.page-title
					Get In
					%span.text-light Touch
		-#.row
			.col-md-8.offset-md-2
				= form_for Pulitzer::Contact.new, as: :contact_us, html: { id: 'contact-form', class: 'row contact-form' } do |f|
					.col-md-12.text-center
						%h5.successContent
							%i.fa.fa-check.left{:style => "color: #5cb45d;"}>
							Your message has been sent successfully.
						%h5.errorContent{:style => "color: #e1534f;"}
							%i.fa.fa-exclamation-circle.left>
							There was a problem validating the form please check!
					.col-md-6
						.form-field-wrapper
							%input#form-name.input-md.form-full{:name => "form-name", :placeholder => "Your Name", :required => "", :type => "text"}/
						.form-field-wrapper
							= f.email_field :email, id: 'form-email', :placeholder => "Email", required: true, class: 'input-md form-full'
						.form-field-wrapper
							= f.text_field :subject, id: 'form-subject', :placeholder => "Subject", class: 'input-md form-full'
					.col-md-6.mb-0
						.form-field-wrapper
							= f.text_area :message, id: 'form-message', :placeholder => "Your Message", :required => true, rows: 7, class: 'input-md form-full'
					.col-md-12.text-center
						%button#form-submit.btn-contact-submit.btn.btn-md.btn-color{:name => "submit", :type => "submit"} Submit
/ End Contact Form
