.container
	.row
		.col-xs-12
			%h1
				Discussions

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th Stats
					%th Last Post
				- @discussions.each do |discussion|
					%tr
						%td
							%h4{ style: 'margin-bottom: 0;' }= link_to discussion.title, discussion_path( discussion )
							.small
								= raw discussion.description
						%td
							= pluralize discussion.topics.count, 'Topic'

						%td
							- if (topic = discussion.topics.last).present?
								%a{ href: topic.url }
									= truncate topic.subject

								.small
									by
									= topic.user
									at
									= topic.created_at.to_s( :long )
							- else
								= "---"
